<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.demo.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_type" property="createType" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="RoleUserMap" type="User">
    <result column="role.name" property="rolesname"></result>
  </resultMap>
  <resultMap id="UserMessageMap" type="com.demo.model.UserMessage">
      <id column="id" property="id"/>
      <result column="sex" property="sex"/>
      <result column="phone" property="phone"/>
      <result column="number" property="number"/>
      <result column="email" property="email"/>
      <result column="loginIp" property="loginip"/>
      <result column="loginTime" property="logintime"/>
      <result column="birthday" property="birthday"/>
      <result column="description" property="description"/>
      <result column="user_id" property="userId"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, account, description, create_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getUserByAccount" resultMap="BaseResultMap" parameterType="String">
    SELECT
    <include refid="Base_Column_List" />
    from user WHERE account=#{account}
  </select>
  <select id="getUserMessage" resultMap="UserMessageMap">
    SELECT
    user_message.*
    FROM user,user_message
    WHERE user.id=user_message.user_id
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    from user
  </select>
  <select id="getRoleList" resultMap="RoleUserMap">
    SELECT role.name
    FROM user,role,user_role
    WHERE user.id=user_role.userid AND role.id=user_role.id;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertRoleUser">
    INSERT into
    user_role(user_id,role_id)
    VALUES (#{0},#{1})
  </insert>
  <insert id="insert" parameterType="com.demo.model.User" >
    insert into user (id, username, password,
    account, description, create_type
    )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{account,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createType,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createType != null" >
        create_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createType != null" >
        #{createType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createType != null" >
        create_type = #{createType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_type = #{createType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>